.filterButton{
  padding:6px 14px;
  background-color: white;
  cursor: pointer;
  color: #0A033B;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-weight: light;
}
.filterButton:hover, .filterButton:focus{
  color: white;
  background-color: #FF6652;
}
