*{
  letter-spacing:  0.05em;
}
body{
  background-color: #f5f0f7;
  font-family: "Metropolis";
  /* letter-spacing:  0.03em; */
}
.customLight{
  background-color: #f5f0f7;
}
.customPurple {
  background-color: #9c4df4;
}
.customDark{
  background-color: #0A033B;
}
.customOrange{
  background-color: #FF6652;
}
.textDark{
  color: #0A033B;
}
.textGray{
  color: #5D5A6F;
}